.configNavBar{
  background-color: #00607E;
  height: 80px;  
  
}
.corFooter{
  background-color: #00607E;  
}

.ajusteImgParallax{
    height: 500px;
    width: 1000px;
}

.parallax-container {
    height: 650px;
  }
  
 .configCard{
   height: 200px;
 } 
  